.container {
  margin-top: 110px;
  padding: 0 15px;
}

.backLinkRef,
.navLink {
  display: flex;
  align-items: center;
  width: 120px;
  border-radius: 6px;
  background-color: #93b7be;
  padding: 8px 12px;
  color: #2d3047;
  transition: background-color, box-shadow 0.3s ease;
}

.backLinkRef:hover,
.navLink:hover {
  color: #2d3047;
  background-color: #a799b7;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navLink {
  display: block;
  width: 120px;
  text-align: center;
}

.list {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
