.list {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  row-gap: 35px;
  max-width: 1500px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.img {
  height: 330px;
  width: 250px;
  object-fit: cover;
}

.name {
  font-size: 18px;
  font-weight: 600;
}

.noCast {
  font-weight: 500;
  margin-top: -10px;
  text-align: center;
  color: #048a81;
}
